.page{
    width: 1000px;
    margin: auto;
    font-family: 'Source sans Pro', Calibri, Tahoma, sans-serif;
    font-size: 16px;
}

.infotof{
    height: 250px;
    background-color: #ecf0f1;
}

.tof{
    float: left;
    background-color: white;
    width: 180px;
    height: 180px;
    margin-top: 40px;
    margin-left: 70px;
}

.info{
    float: right;
    margin-top: 25px;
    margin-right: 200px;
}

#SR{
    font-size: 40px;
}

.section{
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: #ecf0f1;
    border-style: solid;
}

.secgo{
    float: left;
    padding-left: 30px;
    margin-top: -17px;
    font-size: 20px;
}

.secdro{
    margin-left: 300px;
    color: aqua;
    font-size: 20px;
}

h2{
    font-size: 40px;
    background-color: #ecf0f1;
    padding-left: 30px;
    padding-top: 10px;
    height: 70px;
    margin-top: -2px;
}

.s{
    font-size: 30px;
}

.sec{
    padding-left: 30px;
    margin-top: -20px;
}